body {
    background-color: var(--body_background) !important;
}
.nav-link {
    font-family: Kollektif, sans-serif;
    font-size: large !important;
    color: var(--body_color) !important;
    margin: 50px 150px 0px 0px !important;
}
.nav-link:hover {
    filter: drop-shadow(0 0 1.5em var(--nav_hover)) !important;
    color: var(--body_color);
}